/* GENERAL-SET-UPS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

    /* Color styles */
:root{

--heder-bg: #FF6900;
--bg-cards: #E8E7E6;
--bg-red-badge: #FF0000;
--bg-green-badge: #008000;
--bg-footer: #1A1A1A;
--text-light: #FFFFFF;
--text-dark: #000000;

}

    /* End color styles */

.debu{
    outline: 1px solid black;
}

.format{
    max-width: 1200px;
    margin: 0 auto;
}

.padding-10{
    padding : 10px;
}

.padding-3{
    padding: 3px;
}

.up-padding{
    padding-top: 100px;
}

.d-flex{
    display: flex;
    flex-flow: row wrap;
}

.space-between{
    justify-content: space-between;
}

.just-center{
    justify-content: center;
}

.align-items{
    align-items: center;
}

.just-end{
    justify-content: flex-end;
}

/* GENERAL-SET-UPS */


/* =======header======= */
header ul{
    list-style: none;
    width: 200px;
    align-items: center;
}
 
header li{
    padding: 5px;
    font-weight: bold;
}

header ul li{
    color: var(--text-light);
}
header img{
    width: 150px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--heder-bg);
    box-shadow: 0px 0px 3px;
    z-index: 5000;
}

/* =======end header======= */

/* =======main======= */

.box{
    max-width: calc(100% / 3);
}

.cards{
    position: relative;
}

.secondary{
    position: absolute;
    top:0px;
    left:0px;
    display: none;
}

.cards:hover img.secondary{
    display: block;   
}

.info{
    max-width: 100%;
}

article img{
    width: 100%;
}

div h4{
    text-transform: uppercase;
}

div span:nth-child(3){
    font-weight: bold;
}

.price{
    color: var(--bg-red-badge);
}

.old-price{
    text-decoration: line-through;
}

.badge{
    position: absolute;
    bottom: 110px;
    color: var(--text-light);
    font-size: 200;
    z-index: 1000;

}

.red-badge{
    background-color: var(--bg-red-badge);
    z-index: 1000;
}

.green-badge{
    background-color: var(--bg-green-badge);
    font-weight: bold;
    z-index: 1000;
}

.heart{
    position: absolute;
    background-color: var(--text-light);
    color: var(--text-dark);
    text-align: center;
    width: 47px;
    font-size: 30px;
    top: 10px;
    right: 0;
    z-index: 1000;

}

.heart:hover{
    color: var(--bg-red-badge);
    cursor: pointer;
}


/* =======end main======= */


/* =======footer======= */

footer{
    background-color: var(--bg-footer);
    color: var(--text-light);
}

.footer-container{
    margin-top: 50px;
}

footer ul{
    list-style: none;
}

footer h3, footer li{
    padding: 5px;
}

footer p{
    font-size: 0.8rem;
    font-weight: bold;
}

.footer-info li{
    font-size: 0.8rem;
}

.social-container li{
    font-size: 1.2rem;
}

.footer-container{
    padding:10px;
    padding-top:25px;
    padding-bottom:25px;
}



/* =======end footer======= */