/* GENERAL-SET-UPS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

    /* Color styles */
:root{

--heder-bg: #FF6900;
--bg-cards: #E8E7E6;
--bg-red-badge: #FF0000;
--bg-green-badge: #008000;
--bg-footer: #1A1A1A;
--text-light: #FFFFFF;
--text-dark: #000000;

}

    /* End color styles */

.debug{
    outline: 1px solid black;
}

.format{
    max-width: 1200px;
    margin: 0 auto;
}

.padding-10{
    padding : 10px;
}

.padding-3{
    padding: 3px;
}

.up-padding{
    padding-top: 25px;
}

.d-flex{
    display: flex;
    flex-flow: row wrap;
}

.space-between{
    justify-content: space-between;
}

.just-center{
    justify-content: center;
}

.just-end{
    justify-content: flex-end;
}

/* GENERAL-SET-UPS */


/* =======header======= */
header ul{
    list-style: none;
    width: 200px;
    align-items: center;
}
 
header li{
    padding: 5px;
    font-weight: bold;
}

header ul li{
    color: var(--text-light);
}
header img{
    width: 150px;
    outline: 1px solid red;
}

.categories, .logo, .user{
    max-width: calc(100% / 3);
}

header{
    background-color: var(--heder-bg);
}

/* =======end header======= */

/* =======main======= */

.box{
    max-width: calc(100% / 3);
}

.cards{
    position: relative;
}

.info{
    max-width: 100%;
}

article img{
    width: 100%;
}

div h4{
    text-transform: uppercase;
}

div span:nth-child(3){
    font-weight: bold;
}

.price{
    color: var(--bg-red-badge);
}

.old-price{
    text-decoration: line-through;
}

.badge{
    position: absolute;
    bottom: 110px;
    color: var(--text-light);
    font-size: 200;

}

.red-badge{
    background-color: var(--bg-red-badge);
}

.green-badge{
    background-color: var(--bg-green-badge);
    font-weight: bold;
}

.heart{
    position: absolute;
    background-color: var(--text-light);
    color: var(--text-dark);
    text-align: center;
    width: 47px;
    font-size: 30px;
    top: 10px;
    right: 0;
}

.heart:hover{
    color: var(--bg-red-badge);
    cursor: pointer;
}

.img-hover{
    position: absolute;
    top: 0;
    visibility: hidden;
}




/* =======end main======= */


