/* GENERAL-SET-UPS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

    /* Color styles */
:root{

--heder-bg: #FF6900;
--bg-cards: #E8E7E6;
--bg-red-badge: #FF0000;
--bg-green-badge: #008000;
--bg-footer: #1A1A1A;
--text-light: #FFFFFF;
--text-dark: #000000;

}

    /* End color styles */

.debug{
    outline: 1px solid black;
}

.format{
    max-width: 1200px;
    margin: 0 auto;
}

.padding-10{
    padding : 10px;
}


.d-flex{
    display: flex;
    flex-flow: row wrap;
}

.space-between{
    justify-content: space-between;
}

.just-center{
    justify-content: center;
}

/* GENERAL-SET-UPS */


/* =======header======= */
header ul{
    list-style: none;
    width: 100%;
    align-items: center;
}
 
header li{
    padding: 5px;
    font-weight: bold;
}

header ul li{
    color: var(--text-light);
}
header img{
    width: 150px;
    outline: 1px solid red;
}

.categories, .logo, .user{
    max-width: calc(100% / 3);
}

header{
    background-color: var(--heder-bg);
}





/* =======end header======= */




